base:
  provider:
    service:
      version: 1.0.0
spring:
  application:
    name: bussiness-user-service
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.40.128:8848
dubbo:
  scan:
    base-packages: com.gu.login
  protocol:
    name: dubbo
    port: -1
  registry:
    address: nacos://192.168.40.128:8848
server:
  port:  8084
